
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body {
  background: #f8f9fa;
}
canvas {
  position: absolute;
  overflow: hidden;
}

main {
  opacity: 0;
  margin-top:-5%;
}

h1, h2, h3, h4, h5 {
font-family: 'Inconsolata', monospace;
font-family: 'Nanum Myeongjo', serif;
text-transform: lowercase;

}

p {
  font-family: 'Montserrat', sans-serif;
}

#blob {
  top:-3%;
  left:-3%;
  right:3%;
  margin: 0 auto;
}
#blob2 {
  top:23%;
  left:14%;
}

header {
background: #ddd6f3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #77a7ff, #ddd6f3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #77a7ff, #ddd6f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  background-color: none;
}

span.logo {
  font-family: 'Nanum Myeongjo', serif;
  color: #0053ad;
  width:40%;
}

.jumbotron {
  position: relative;
  padding: 20rem 0rem;
  background: #ddd6f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #77a7ff, #f3d6dd);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #77a7ff, #f3d6dd); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin-bottom:0;
}

.jumbotron .container {
  max-width: 80rem;
}

.display-1 .letter {
  display: inline-block;
  line-height: 1em;
}

.desc {
  opacity:0;
}

.lead {
  opacity:0;
}

.my-2 {
  opacity: 0;
}

.mich-frame {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  float: right;
}
.mich-small {
  display: inline;
  margin: 0 auto;
  height: 100%;
  filter:sepia(100%) hue-rotate(180deg) saturate(150%);
  opacity: 0;
  margin-left:-10px;
}

.card {
  margin-right: 15px;
  margin-bottom: 15px !important;
  }

.card-img-top {

}

.nav-link h4 {
  color: #545b62;
}

.hybrid h2, .hybrid h4, .hybrid p {
  color: #f8f9fa;
}

.nav-tabs {
  background-color: #ddd6f34a;
  margin-bottom: 2%;
}

.nav-tabs .nav-link.active {
  background-color: #f8f9fa;
}

main {
  background-color: #f8f9fa;
}

.card-img-top:hover {
  filter:grayscale(0);
}

h5.card-title, h5.card-title a {
  color: #545b62;
}

.navbar-light .navbar-nav .nav-link, {
  color: #0053ad;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #003875;
}

@media (max-width: 575px) {
  .mich-frame {
    float: none;
  }
  .hybrid {
    padding:25px;
  }
}

@media (min-width: 480px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {

  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .card-columns {
    column-count: 3;
  }
}

  .card-img-top {
    height:300px;
    object-fit: cover;
  object-position: top;
  }

.resume-pdf {
  height: 100vh;
}
